@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 30px;
  list-style: none;

  li {
    margin: 0 5px;
    cursor: pointer;

    a {
      padding: 10px 15px;
      border: 2px solid #fff;
      background-color: $background-color;
      color: $primary-color;
      transition: background-color $transition-time;

      &:hover {
        background-color: $primary-color;
        color: $background-color;
      }
    }

    &.active a {
      background-color: $primary-color;
      color: $background-color;
      font-weight: bold;
    }
  }
}
