// Colors
$background-color: #000;
$primary-color: #feea1e;
$border-color: #fff;
$text-color: #fff;
$text-hover-color: #a99c0e;
$node-border-color: #ccc;
$pagination-border-color: #fff;

// Font sizes
$font-size-small: 14px;
$font-size-medium: 1.2rem;
$font-size-large: 40px;

// Transitions
$transition-time: 0.3s;
